# Ignore Gradle project-specific cache directory
.gradle
.kotlin

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
/gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle build output directory
build

